################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/Core/Core/obj
/Core/Core/.vs/Core
